<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ironmind">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IronMind"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IronMind">

        <receiver android:name=".notifiche.SvegliaReceiver" android:exported="false"/>
        <receiver android:name=".Utils.AllarmeRicevitore" android:exported="true" />

        <activity
            android:name=".Activity.ProfiloQrCodeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfiloPesoAltezzaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfiloSessoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfiloEtaDataDiNascitaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfiloNomeCognomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.AllenamentoCompletato"
            android:exported="false" />
        <activity
            android:name=".view.SchedaPersonalizzataCreata"
            android:exported="false" />
        <activity
            android:name=".view.AllenamentoDinamicoUI"
            android:exported="false" />
        <activity
            android:name=".view.SchedaPersonalizzataActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EserciziPerGruppoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SchedaGruppiMuscolariActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DettaglioPremioActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PremiPersonaliActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PremiDisponibiliCompletiActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RussianTwistPallaMedicaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MacchinaCrunchCaricoPiastraActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LegCurlSdraiatoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CurlManubriPancaInclinataActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CurlConcentratoManubrioActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RematoreBilanciereActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LatMachinePresaInversaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StaccoDaTerraBilanciereActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DipParalleleAssistitiActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PancaPianaBilanciereActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AffondiManubriActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CurlBilanciereEzActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CurlManubriActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PulleyBassoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EstensioniTricipitiManubrioActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PushDownTricipitiCaviActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CrociManubriPancaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CycletteTapisRoulantActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CalfRaiseAllaLegPressActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LegCurlActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TirataStrettaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SquatBilanciereActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PlankIsometricoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RussianTwistManubrioActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AlzateLateraliActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RematoreManubriActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PancaPianaManubriActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CrunchSulTappetinoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ShoulderPressActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LegPressActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LatMachineActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ChestPressActivity"
            android:exported="false" />
        <activity
            android:name=".view.DettaglioAllenamentoEsperto3Activity"
            android:exported="false" />
        <activity
            android:name=".view.DettaglioAllenamentoEsperto2Activity"
            android:exported="false" />
        <activity
            android:name=".view.DettaglioAllenamentoEsperto1Activity"
            android:exported="false" />
        <activity
            android:name=".view.DettaglioAllenamentoIntermedio3Activity"
            android:exported="false" />
        <activity
            android:name=".view.DettaglioAllenamentoIntermedio2Activity"
            android:exported="false" />
        <activity
            android:name=".view.DettaglioAllenamentoIntermedio1Activity"
            android:exported="false" />
        <activity
            android:name=".view.DettaglioAllenamentoPrincipiante3Activity"
            android:exported="false" />
        <activity
            android:name=".view.DettaglioAllenamentoPrincipiante2Activity"
            android:exported="false" />
        <activity
            android:name=".view.DettaglioAllenamentoPrincipiante1Activity"
            android:exported="false" />
        <activity
            android:name=".view.EspertoActivity"
            android:exported="false" />
        <activity
            android:name=".view.IntermedioActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TempoDiRiposoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SetDefaultActivity"
            android:exported="false" />
        <activity
            android:name=".Utils.SuonaAlTermineActivity"
            android:exported="false" />
        <activity
            android:name=".Utils.VibraAlTermineActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MostraNotificaActivity"
            android:exported="false" />
        <activity
            android:name=".view.IncrementoPesoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PromemoriaActivity"
            android:exported="false" />
        <activity
            android:name=".view.ObiettiviActivity"
            android:exported="false" />
        <activity
            android:name=".view.BackupRipristinoActivity"
            android:exported="false" />
        <activity
            android:name=".view.PrincipianteActivity"
            android:exported="false" />
        <activity
            android:name=".view.PredefinedSchedeActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".view.DashBoardActivity"
            android:exported="false" />
    </application>

</manifest>